@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
</style>
<h1 style="color:red;">  NEW </h1>
<div id="slider">
    <tr>
        <td>
            <div id="banner ">
        <td colspan="3 ">
            <b>
                  <img id="banner_img" src="~/Content/anh/1.1.png" / width="30%">
                  <img id="banner_img" src="~/Content/anh/1.2.png" / width="30%" >
                  <img id="banner_img" src="~/Content/anh/31.3.png" / width="30%"> 
            </b>
        </td>
       
            </div>
        </td>

    </tr>

</div>